<footer class="footer">
  <small>
    This application made by Hiroaki Ito
  </small>
  <nav>
    <ul>
      <li><%= link_to "このアプリケーションについて",   about_path %></li>
      <li><%= link_to "伊東　宏晃について", contact_path %></li>
    </ul>
  </nav>
</footer>